{
	"root": true,
	"env": {
		"browser": true,
		"node": true
	},
	"parserOptions": {
		"parser": "babel-eslint",
		"ecmaVersion": 2020, // Use the latest ecmascript standard
		"sourceType": "module" // Allows using import/export statements
	},
	"extends": [
		"plugin:vue/essential",
		"eslint:recommended",
		"plugin:prettier/recommended"
	],
	"rules": {
		"prettier/prettier": [
			"error",
			{ "endOfLine": "auto" },
			{ "usePrettierrc": true }
		],
		"no-unused-vars": ["off", { "vars": "all", "args": "after-used" }]
	},
	// required to lint *.vue files
	"plugins": ["vue", "prettier"]
}